<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>RaiseNow Demo</h1>
    <p>This is a sample Node application deployed to Heroku.</p>
  </div>
</div>

<div class="container">
  <div class="rnw-widget-container"></div>
  <script src="https://tamaro.raisenow.com/<%= rnwAPIKey %>/latest/widget.js"></script>
  <script>
    window.rnw.tamaro.runWidget('.rnw-widget-container', {
      paymentFormPrefill: {
        stored_custom_data: '123456',
        stored_customer_company_name: null
      },
      language: 'en',
      translations: {
        en: {
          payment_form: {
            stored_customer_company_name: 'Company',
          },
        },
        de: {
          payment_form: {
            stored_customer_company_name: 'Firme',
          },
        },
      },
      slots: {
        profile_form_3: [{
          component: "field",
          type: "text",
          name: "stored_customer_company_name",
          label: "payment_form.stored_customer_company_name",
          placeholder: ""
        }]
      },
      amounts: [
        {
          "if": "paymentType() == onetime",
          "then": [20,50,100,200],
        },
      ],
    });
  </script>
</div>
</body>
</html>
