<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>RaiseNow Demo</h1>
    <p>This is a sample Node application deployed to Heroku.</p>
  </div>
</div>

<div class="container">
  <div class="rnw-widget-container"></div>
  <script src="https://tamaro.raisenow.com/<%= rnwAPIKey %>/latest/widget.js"></script>
  <script>
    window.rnw.tamaro.runWidget('.rnw-widget-container', {
//      debug: true,
//      debugSlots: true,
      paymentFormPrefill: {
        stored_tip_amount: 0,
        stored_custom_data: '123456',
        stored_customer_company_name: null
      },
      language: 'en',
      translations: {
        en: {
          payment_form: {
            stored_customer_company_name: 'Company',
            stored_tip_amount: 'Would you like to add a EUR 5 tip to cover all platform costs?',
            tip_options: {
              yes: "I would like to add a tip to cover all platform costs",
              no: "I don't want to add a tip this time"
            }
          },
        },
        de: {
          payment_form: {
            stored_customer_company_name: 'Firme',
          },
        },
      },
      slots: {
        payment_types_start: [{
          component: "field",
          type: "select",
          name: "stored_tip_amount",
          label: "payment_form.stored_tip_amount",
          options: [
            {value: '5', label: 'payment_form.tip_options.yes'},
            {value: '0', label: 'payment_form.tip_options.no'}
          ],
        }],
        profile_form_3: [{
          component: "field",
          type: "text",
          name: "stored_customer_company_name",
          label: "payment_form.stored_customer_company_name",
          placeholder: ""
        }]
      },
      amounts: [
        {
          "if": "paymentType() == onetime",
          "then": [20,50,100,200],
        },
      ],
    });
  </script>
</div>
</body>
</html>
